
body {
  background-image: url("gray.png");
  background-repeat: repeat;
  background-position: center;


}







.bordered {
    background-color: Lime;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}

.bordered {border-radius: 12px;}
.bordered1 {border-radius: 12px;}


.bordered1 {
    background-color: Red;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}


h1 {
left: 50px;
  top: 100px;
}

.confirm{
position:absolute;
position: relative; left: 20%; height: 200%;

}

.bordered{
	position:absolute;
	position:relative; left:25%; height:500%;
}




.deny{
position:absolute;
position: relative; left: 25%; height: 200%;
}
.bordered1{
	position:absolute;
	position: relative; left: -6.5%; height: 50%;
}

div {




/*

	margin: 0;
	padding: 0;
	list-style: 0;







body {
  background-image: url("gray.png"), url("gray.png");
  background-repeat: no-repeat;
  background-position: center;


	}

.confirm{
	 position:absolute;
	transition: .5s ease;
    left: 202px;
    top: 198px;
}


.deny{
	 position:absolute;
	transition: .5s ease;
    left: 202px;
    top: 198px;
}

















	display: inline-block;
	margin: 1em;

*/

	font-weight: 700;
	text-decoration: bold;
	text-transform: uppercase;


}
